
<html>
<head>
<title>Youtube App</title>
<link href="static/style.css" rel="stylesheet" type="text/css">
<head>
<body>
        <header>
                <h1> SUBMIT A URL TO ADD TO QUEUE</h1>
                <div>
                        <form method="POST">
                                <input name="text" placeholder="Paste YouTube url here...">
                                <input type="submit">
                        </form>
                        <form method="GET">
                                <input type="submit" value="Skip Current Video">
                        </form>
                </div>
        </header>
</body>
